In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")
sns.set_context("poster")
plt.rcParams["figure.figsize"] = [8,6]

In [79]:
df = pd.read_csv("/Users/abhijeetsingh/Documents/dataset.csv")

In [80]:
df

,Time,Place,Latitude,Longitude,Depth,Mag,MagType,nst,gap,dmin,...,Updated,Unnamed: 14,Type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-02-17T09:37:34.868Z,"130 km SW of Tual, Indonesia",-6.5986,132.0763,38.615,6.10,mww,119.0,51.0,2.988,...,2023-02-17T17:58:24.040Z,NaN,earthquake,6.41,5.595,0.065,23.0,reviewed,us,us
1,2023-02-16T05:37:05.138Z,"7 km SW of Port-Olry, Vanuatu",-15.0912,167.0294,36.029,5.60,mww,81.0,26.0,0.392,...,2023-02-17T05:41:32.448Z,NaN,earthquake,5.99,6.080,0.073,18.0,reviewed,us,us
2,2023-02-15T18:10:10.060Z,"Masbate region, Philippines",12.3238,123.8662,20.088,6.10,mww,148.0,47.0,5.487,...,2023-02-16T20:12:32.595Z,NaN,earthquake,8.61,4.399,0.037,71.0,reviewed,us,us
3,2023-02-15T06:38:09.034Z,"54 km WNW of Otaki, New Zealand",-40.5465,174.5709,74.320,5.70,mww,81.0,40.0,0.768,...,2023-02-16T06:42:09.738Z,NaN,earthquake,3.68,4.922,0.065,23.0,reviewed,us,us
4,2023-02-14T13:16:51.072Z,"2 km NW of Lele?ti, Romania",45.1126,23.1781,10.000,5.60,mww,132.0,28.0,1.197,...,2023-02-17T09:15:18.586Z,NaN,earthquake,4.85,1.794,0.032,95.0,reviewed,us,us
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37326,1902-01-01T05:20:30.000Z,"113 km ESE of Nikolski, Alaska",52.3800,-167.4500,NaN,7.00,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,NaN,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe
37327,1901-12-31T09:02:30.000Z,"221 km SW of Nikolski, Alaska",51.4500,-171.0200,NaN,7.10,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,NaN,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe
37328,1901-12-30T22:34:00.000Z,south of Alaska,52.0000,-160.0000,NaN,7.00,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,NaN,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe
37329,1901-03-03T07:45:00.000Z,"12 km NNW of Parkfield, California",36.0000,-120.5000,NaN,6.40,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,NaN,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,ell
37330,1900-10-09T12:25:00.000Z,"16 km SW of Old Harbor, Alaska",57.0900,-153.4800,NaN,7.86,mw,NaN,NaN,NaN,...,2022-05-09T14:44:17.838Z,NaN,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,pt

In [81]:
df.isnull().sum()

Time                   0
Place                284
Latitude               0
Longitude              0
Depth                134
Mag                    0
MagType                0
nst                29858
gap                27244
dmin               32936
rms                17113
net                    0
ID                     0
Updated                0
Unnamed: 14        37331
Type                   0
horizontalError    33361
depthError         16504
magError           20780
magNst             31959
status                 0
locationSource         0
magSource              0
dtype: int64

In [82]:
df.shape

(37331, 23)

In [83]:
df.isnull().sum()/df.shape[0]*100

Time                 0.000000
Place                0.760762
Latitude             0.000000
Longitude            0.000000
Depth                0.358951
Mag                  0.000000
MagType              0.000000
nst                 79.981785
gap                 72.979561
dmin                88.226943
rms                 45.841258
net                  0.000000
ID                   0.000000
Updated              0.000000
Unnamed: 14        100.000000
Type                 0.000000
horizontalError     89.365407
depthError          44.209906
magError            55.664193
magNst              85.609815
status               0.000000
locationSource       0.000000
magSource            0.000000
dtype: float64

In [84]:
df1 = df.dropna(thresh=df.shape[0]*0.6, how='all',axis=1)

In [85]:
df1.isnull().sum()

Time                0
Place             284
Latitude            0
Longitude           0
Depth             134
Mag                 0
MagType             0
net                 0
ID                  0
Updated             0
Type                0
status              0
locationSource      0
magSource           0
dtype: int64

In [86]:
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors=3)
knn_df = df1.copy()
knn = knn.fit(knn_df[["Depth"]])
knn_df["Depth"] = knn.transform(knn_df[["Depth"]])

knn_df.isnull().sum()

Time                0
Place             284
Latitude            0
Longitude           0
Depth               0
Mag                 0
MagType             0
net                 0
ID                  0
Updated             0
Type                0
status              0
locationSource      0
magSource           0
dtype: int64

In [96]:
df2 = knn_df.copy()
df2['Place'] = df2['Place'].astype(str)

In [97]:
for index, row in df2.iterrows():
    df2.loc[index, 'Country'] = row['Place'].split(" ")[-1]

In [98]:
df2

,Time,Place,Latitude,Longitude,Depth,Mag,MagType,net,ID,Updated,Type,status,locationSource,magSource,Country
0,2023-02-17T09:37:34.868Z,"130 km SW of Tual, Indonesia",-6.5986,132.0763,38.615000,6.10,mww,us,us6000jpl7,2023-02-17T17:58:24.040Z,earthquake,reviewed,us,us,Indonesia
1,2023-02-16T05:37:05.138Z,"7 km SW of Port-Olry, Vanuatu",-15.0912,167.0294,36.029000,5.60,mww,us,us6000jpb1,2023-02-17T05:41:32.448Z,earthquake,reviewed,us,us,Vanuatu
2,2023-02-15T18:10:10.060Z,"Masbate region, Philippines",12.3238,123.8662,20.088000,6.10,mww,us,us6000jp76,2023-02-16T20:12:32.595Z,earthquake,reviewed,us,us,Philippines
3,2023-02-15T06:38:09.034Z,"54 km WNW of Otaki, New Zealand",-40.5465,174.5709,74.320000,5.70,mww,us,us6000jp1g,2023-02-16T06:42:09.738Z,earthquake,reviewed,us,us,Zealand
4,2023-02-14T13:16:51.072Z,"2 km NW of Lele?ti, Romania",45.1126,23.1781,10.000000,5.60,mww,us,us6000jnqz,2023-02-17T09:15:18.586Z,earthquake,reviewed,us,us,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37326,1902-01-01T05:20:30.000Z,"113 km ESE of Nikolski, Alaska",52.3800,-167.4500,58.583346,7.00,ms,ushis,ushis400,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37327,1901-12-31T09:02:30.000Z,"221 km SW of Nikolski, Alaska",51.4500,-171.0200,58.583346,7.10,ms,ushis,ushis399,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37328,1901-12-30T22:34:00.000Z,south of Alaska,52.0000,-160.0000,58.583346,7.00,ms,ushis,ushis397,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37329,1901-03-03T07:45:00.000Z,"12 km NNW of Parkfield, California",36.0000,-120.5000,58.583346,6.40,ms,ushis,ushis393,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,ell,California
37330,1900-10-09T12:25:00.000Z,"16 km SW of Old Harbor, Alaska",57.0900,-153.4800,58.583346,7.86,mw,ushis,ushis391,2022-05-09T14:44:17.838Z,earthquake,reviewed,ushis,pt,Alaska

In [99]:
df2['Country'].value_counts()

Indonesia      3728
region         3018
Japan          2604
Islands        2425
Guinea         2282
               ...
Colorado          1
Earthquake)       1
Arizona           1
Tunisia           1
Slovakia          1
Name: Country, Length: 201, dtype: int64

In [100]:
df2['Country'].unique()

array(['Indonesia', 'Vanuatu', 'Philippines', 'Zealand', 'Romania',
       'region', 'nan', 'Ridge', 'Islands', 'Honduras', 'Turkey', 'Chile',
       'Guinea', 'China', 'Iran', 'Greece', 'Argentina', 'Nepal', 'Sea',
       'Guadeloupe', 'Rise', 'Afghanistan', 'Ethiopia', 'Peru', 'CA',
       'Japan', 'Salvador', 'Alaska', 'Panama', 'Mexico', 'Russia',
       'Tonga', 'Gabon', 'Portugal', 'Africa', 'Caledonia', 'Guatemala',
       'India', 'Italy', 'Ocean', 'Island', 'Helena', 'America', 'Taiwan',
       'Myanmar', 'Samoa', 'Guam', 'Ecuador', 'Leste', 'Fiji', 'Pakistan',
       'Mayen', 'Oregon', 'Brazil', 'Svalbard', 'Gibraltar',
       'Herzegovina', 'Nicaragua', 'Futuna', 'Colombia', 'Cyprus', 'Laos',
       'Hawaii', 'Okhotsk', 'Australia', 'Haiti', 'Tajikistan', 'Passage',
       'Somalia', 'Rica', 'Mongolia', 'Xizang', 'Algeria', 'Iceland',
       'Guyana', 'Croatia', 'Palau', 'Tanzania', 'Micronesia', 'Junction',
       'Egypt', 'Earthquake', 'Idaho', 'Utah', 'Jamaica', 'Rico',
       'Canada', 'Principe', 'Albania', 'Thailand', 'Sequence',
       'Mauritius', 'Bolivia', 'Zimbabwe', 'Venezuela', 'Yemen',
       'Mayotte', 'Malawi', 'California', 'Iraq', 'Korea', 'Grenada',
       'Land', 'Montana', 'Mozambique', 'Barbuda', 'Botswana', 'Zambia',
       'Martinique', 'Cuba', 'Madagascar', 'Nevada', 'Tobago', 'Dominica',
       'Oklahoma', 'Kyrgyzstan', 'Morocco', 'Rwanda', 'Barbados',
       'Malaysia', 'Napa', 'Azerbaijan', 'Republic', 'Sumatra', 'Arabia',
       'Uganda', 'Uzbekistan', 'Kazakhstan', 'Georgia', 'Zemlya',
       'Antarctica', 'Virginia', 'Eritrea', 'Djibouti', 'Serbia', 'Spain',
       'MX', 'Bhutan', 'Macedonia', 'Bay', 'Bangladesh', 'Congo',
       'Anguilla', 'Kosovo', 'Washington', 'Turkmenistan', 'Slovenia',
       'Maldives', 'Syria', 'Jordan', 'Texas', 'Wyoming', 'Greenland',
       'Sudan', 'Verde', 'Kashmir', 'Bengal', 'Kenya', 'Montserrat',
       'Armenia', 'Norway', 'Bulgaria', 'Senegal', 'Nevis', 'Poland',
       'Vietnam', 'Tuvalu', 'Libya', 'Maine', 'Channel', 'Montenegro',
       'Belgium', 'Lanka', 'NV', 'Peninsula', 'Oman', 'Colorado',
       'Earthquake)', 'Arizona', 'Tunisia', 'Territory', 'Lebanon',
       'Hungary', 'Switzerland', 'Lucia', 'Burundi', 'Germany', 'Israel',
       'Hampshire', 'Grenadines', 'Ghana', 'Kingdom', 'AK', 'Miquelon',
       'Ukraine', 'Tasmania', 'Comoros', 'Angola', 'Lesotho', 'France',
       'Slovakia'], dtype=object)

,Time,Place,Latitude,Longitude,Depth,Mag,MagType,nst,gap,dmin,...,Updated,Unnamed: 14,Type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
6,2023-02-11T15:31:26.464Z,Tristan da Cunha region,-35.3341,-15.6399,10.000,5.60,mww,55.0,84.0,21.230,...,2023-02-12T15:34:52.841Z,NaN,earthquake,8.13,1.789,0.073,18.0,reviewed,us,us
19,2023-02-06T01:36:27.357Z,Turkey-Syria border region,36.9921,36.6832,10.000,5.60,mb,167.0,47.0,0.458,...,2023-02-15T04:12:06.711Z,NaN,earthquake,6.20,1.760,0.052,128.0,reviewed,us,us
24,2023-02-05T00:03:19.589Z,"Izu Islands, Japan region",32.6723,141.7624,10.000,5.80,mww,176.0,72.0,1.698,...,2023-02-06T00:10:18.635Z,NaN,earthquake,6.05,1.813,0.058,29.0,reviewed,us,us
40,2023-01-18T10:08:14.083Z,Turkey-Iran border region,38.4382,44.9433,18.523,5.70,mww,195.0,59.0,1.188,...,2023-02-15T05:40:57.272Z,NaN,earthquake,5.44,3.750,0.069,20.0,reviewed,us,us
44,2023-01-16T04:49:51.935Z,"Bonin Islands, Japan region",28.9804,139.3452,405.000,6.30,mww,345.0,11.0,3.134,...,2023-02-01T04:01:59.206Z,NaN,earthquake,5.55,1.813,0.032,96.0,reviewed,us,us
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37237,1906-03-08T17:45:16.330Z,Azores Islands region,42.5100,-23.2770,10.000,5.93,mw,NaN,NaN,NaN,...,2022-05-09T15:23:45.514Z,NaN,earthquake,NaN,25.000,0.260,NaN,reviewed,iscgemsup,iscgemsup
37245,1906-02-01T02:24:30.140Z,Santa Cruz Islands region,-11.6100,169.9900,15.000,6.63,mw,NaN,NaN,NaN,...,2022-04-25T20:39:56.409Z,NaN,earthquake,NaN,25.000,0.320,NaN,reviewed,iscgem,iscgem
37253,1905-12-17T05:30:32.210Z,Revilla Gigedo Islands region,18.3200,-108.5570,10.000,6.96,mw,NaN,NaN,NaN,...,2022-05-09T15:10:38.461Z,NaN,earthquake,NaN,25.000,0.200,NaN,reviewed,iscgemsup,iscgemsup
37282,1905-06-03T05:10:40.470Z,Montenegro-Albania border region,42.1240,19.4110,15.000,5.93,mw,NaN,NaN,NaN,...,2022-05-09T15:19:19.446Z,NaN,earthquake,NaN,6.500,0.790,NaN,reviewed,iscgemsup,iscgemsup
37289,1905-05-11T17:09:01.460Z,"Volcano Islands, Japan region",25.9670,143.3320,15.000,6.78,mw,NaN,NaN,NaN,...,2022-05-09T15:22:55.604Z,NaN,earthquake,NaN,25.000,0.200,NaN,reviewed,iscgemsup,iscgemsup

In [134]:
df3_country_other = df2.copy()
df3_country_other['Country'].value_counts().loc[lambda x : x<6]

Series([], Name: Country, dtype: int64)

In [135]:
counts = df3_country_other['Country'].value_counts()
counts_df = counts[counts < 6].to_frame().reset_index()

In [136]:
counts_df

Empty DataFrame
Columns: [index, Country]
Index: []

In [137]:
others = []
for i in counts_df['index']:
    others.append(i)
others

[]

In [138]:
for i in range(len(df3_country_other)):
    if df3_country_other['Country'][i] in others:
        df3_country_other["Country"][i] = 'others'

In [139]:
df3_country_other

,Time,Place,Latitude,Longitude,Depth,Mag,MagType,net,ID,Updated,Type,status,locationSource,magSource,Country
0,2023-02-17T09:37:34.868Z,"130 km SW of Tual, Indonesia",-6.5986,132.0763,38.615000,6.10,mww,us,us6000jpl7,2023-02-17T17:58:24.040Z,earthquake,reviewed,us,us,Indonesia
1,2023-02-16T05:37:05.138Z,"7 km SW of Port-Olry, Vanuatu",-15.0912,167.0294,36.029000,5.60,mww,us,us6000jpb1,2023-02-17T05:41:32.448Z,earthquake,reviewed,us,us,Vanuatu
2,2023-02-15T18:10:10.060Z,"Masbate region, Philippines",12.3238,123.8662,20.088000,6.10,mww,us,us6000jp76,2023-02-16T20:12:32.595Z,earthquake,reviewed,us,us,Philippines
3,2023-02-15T06:38:09.034Z,"54 km WNW of Otaki, New Zealand",-40.5465,174.5709,74.320000,5.70,mww,us,us6000jp1g,2023-02-16T06:42:09.738Z,earthquake,reviewed,us,us,Zealand
4,2023-02-14T13:16:51.072Z,"2 km NW of Lele?ti, Romania",45.1126,23.1781,10.000000,5.60,mww,us,us6000jnqz,2023-02-17T09:15:18.586Z,earthquake,reviewed,us,us,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37326,1902-01-01T05:20:30.000Z,"113 km ESE of Nikolski, Alaska",52.3800,-167.4500,58.583346,7.00,ms,ushis,ushis400,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37327,1901-12-31T09:02:30.000Z,"221 km SW of Nikolski, Alaska",51.4500,-171.0200,58.583346,7.10,ms,ushis,ushis399,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37328,1901-12-30T22:34:00.000Z,south of Alaska,52.0000,-160.0000,58.583346,7.00,ms,ushis,ushis397,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37329,1901-03-03T07:45:00.000Z,"12 km NNW of Parkfield, California",36.0000,-120.5000,58.583346,6.40,ms,ushis,ushis393,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,ell,California
37330,1900-10-09T12:25:00.000Z,"16 km SW of Old Harbor, Alaska",57.0900,-153.4800,58.583346,7.86,mw,ushis,ushis391,2022-05-09T14:44:17.838Z,earthquake,reviewed,ushis,pt,Alaska

In [140]:
df3_country_other['Country'].value_counts()

Indonesia    3728
region       3018
Japan        2604
Islands      2425
Guinea       2282
             ...
Malaysia        6
Serbia          6
Armenia         6
Tuvalu          6
NV              6
Name: Country, Length: 136, dtype: int64

In [141]:
df3_country_other['Country'].isnull().sum()

0

In [142]:
df3_country_other[df3_country_other['Country'] == "nan"].dropna()

,Time,Place,Latitude,Longitude,Depth,Mag,MagType,net,ID,Updated,Type,status,locationSource,magSource,Country
7,2023-02-11T08:55:07.845Z,nan,3.6213,126.6944,48.78,5.90,mww,us,us6000jn9h,2023-02-12T08:58:20.552Z,earthquake,reviewed,us,us,nan
21,2023-02-06T01:26:50.760Z,nan,37.2241,36.9749,10.00,5.70,mb,us,us6000jlnn,2023-02-15T03:13:13.851Z,earthquake,reviewed,us,us,nan
73,2022-12-15T04:03:15.817Z,nan,23.7695,121.8115,13.00,5.90,mww,us,us6000j9by,2023-02-13T05:17:46.964Z,earthquake,reviewed,us,us,nan
87,2022-12-06T09:34:51.134Z,nan,-40.8109,78.5642,10.00,5.50,mww,us,us6000j7at,2023-02-11T23:03:11.040Z,earthquake,reviewed,us,us,nan
90,2022-12-05T18:16:12.113Z,nan,-26.6668,-114.0671,10.00,5.50,mww,us,us6000j73r,2023-02-11T23:03:09.040Z,earthquake,reviewed,us,us,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34803,1929-02-02T00:00:24.900Z,nan,-1.1860,-22.1880,10.00,6.83,mw,iscgem,iscgem907884,2022-04-25T22:36:42.426Z,earthquake,reviewed,iscgem,iscgem,nan
34810,1929-01-21T04:55:37.560Z,nan,-51.3350,139.9350,10.00,6.13,mw,iscgem,iscgem907868,2022-04-25T22:36:18.609Z,earthquake,reviewed,iscgem,iscgem,nan
35240,1927-06-10T17:08:17.420Z,nan,-0.6950,-78.0720,15.00,5.99,mw,iscgem,iscgem909329,2022-04-25T23:05:43.842Z,earthquake,reviewed,iscgem,iscgem,nan
35890,1923-09-30T01:20:53.270Z,nan,52.9240,-32.1920,10.00,6.62,mw,iscgem,iscgem911663,2022-04-25T21:14:04.408Z,earthquake,reviewed,iscgem,iscgem,nan
36996,1910-06-29T10:45:14.860Z,nan,-30.9070,-177.0990,35.00,7.10,mw,iscgem,iscgem16958094,2022-04-25T20:31:37.265Z,earthquake,reviewed,iscgem,iscgem,nan

In [143]:
df3_country_other = df3_country_other.loc[~df3_country_other['Place'].str.contains('nan')]

In [144]:
df3_country_other[df3_country_other['Country'] == "nan"].dropna()

Empty DataFrame
Columns: [Time, Place, Latitude, Longitude, Depth, Mag, MagType, net, ID, Updated, Type, status, locationSource, magSource, Country]
Index: []

In [145]:
df3_country_other.shape

(36948, 15)

In [146]:
df3_country_other.drop(columns=["Place"], inplace=True)

/var/folders/40/kymyqbk50x1fj7l3yzkv0hmm0000gp/T/ipykernel_38051/1448655971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_country_other.drop(columns=["Place"], inplace=True)

In [147]:
df3_country_other

,Time,Latitude,Longitude,Depth,Mag,MagType,net,ID,Updated,Type,status,locationSource,magSource,Country
0,2023-02-17T09:37:34.868Z,-6.5986,132.0763,38.615000,6.10,mww,us,us6000jpl7,2023-02-17T17:58:24.040Z,earthquake,reviewed,us,us,Indonesia
1,2023-02-16T05:37:05.138Z,-15.0912,167.0294,36.029000,5.60,mww,us,us6000jpb1,2023-02-17T05:41:32.448Z,earthquake,reviewed,us,us,Vanuatu
2,2023-02-15T18:10:10.060Z,12.3238,123.8662,20.088000,6.10,mww,us,us6000jp76,2023-02-16T20:12:32.595Z,earthquake,reviewed,us,us,Philippines
3,2023-02-15T06:38:09.034Z,-40.5465,174.5709,74.320000,5.70,mww,us,us6000jp1g,2023-02-16T06:42:09.738Z,earthquake,reviewed,us,us,Zealand
4,2023-02-14T13:16:51.072Z,45.1126,23.1781,10.000000,5.60,mww,us,us6000jnqz,2023-02-17T09:15:18.586Z,earthquake,reviewed,us,us,Romania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37326,1902-01-01T05:20:30.000Z,52.3800,-167.4500,58.583346,7.00,ms,ushis,ushis400,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37327,1901-12-31T09:02:30.000Z,51.4500,-171.0200,58.583346,7.10,ms,ushis,ushis399,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37328,1901-12-30T22:34:00.000Z,52.0000,-160.0000,58.583346,7.00,ms,ushis,ushis397,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,abe,Alaska
37329,1901-03-03T07:45:00.000Z,36.0000,-120.5000,58.583346,6.40,ms,ushis,ushis393,2018-06-04T20:43:44.000Z,earthquake,reviewed,ushis,ell,California
37330,1900-10-09T12:25:00.000Z,57.0900,-153.4800,58.583346,7.86,mw,ushis,ushis391,2022-05-09T14:44:17.838Z,earthquake,reviewed,ushis,pt,Alaska

In [149]:
df3_country_other.isna().sum()

Time              0
Latitude          0
Longitude         0
Depth             0
Mag               0
MagType           0
net               0
ID                0
Updated           0
Type              0
status            0
locationSource    0
magSource         0
Country           0
dtype: int64

In [151]:
required_columns = ['Latitude','Longitude','Depth','Mag','MagType','Type','magSource','Country']
all_columns = df3_country_other.columns
not_required_columns = [x for x in all_columns if x not in required_columns]

In [152]:
not_required_columns

['Time', 'net', 'ID', 'Updated', 'status', 'locationSource']

In [153]:
df3_country_other.drop(columns=not_required_columns, inplace=True)

/var/folders/40/kymyqbk50x1fj7l3yzkv0hmm0000gp/T/ipykernel_38051/150661416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_country_other.drop(columns=not_required_columns, inplace=True)

In [168]:
df3_country_other

,Latitude,Longitude,Depth,Mag,MagType,Type,magSource,Country
0,-6.5986,132.0763,38.615000,6.10,mww,earthquake,us,Indonesia
1,-15.0912,167.0294,36.029000,5.60,mww,earthquake,us,Vanuatu
2,12.3238,123.8662,20.088000,6.10,mww,earthquake,us,Philippines
3,-40.5465,174.5709,74.320000,5.70,mww,earthquake,us,Zealand
4,45.1126,23.1781,10.000000,5.60,mww,earthquake,us,Romania
...,...,...,...,...,...,...,...,...
37326,52.3800,-167.4500,58.583346,7.00,ms,earthquake,abe,Alaska
37327,51.4500,-171.0200,58.583346,7.10,ms,earthquake,abe,Alaska
37328,52.0000,-160.0000,58.583346,7.00,ms,earthquake,abe,Alaska
37329,36.0000,-120.5000,58.583346,6.40,ms,earthquake,ell,California
37330,57.0900,-153.4800,58.583346,7.86,mw,earthquake,pt,Alaska

In [169]:
dumies = pd.get_dummies(df3_country_other.Country)

dumies.head(10)

,Afghanistan,Africa,Alaska,Albania,Algeria,America,Anguilla,Argentina,Armenia,Australia,...,Venezuela,Washington,Xizang,Yemen,Zambia,Zealand,Zemlya,Zimbabwe,others,region
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [170]:
df4 = pd.concat([df3_country_other,dumies.drop('region',axis='columns')],axis='columns')
df4.head(10)

,Latitude,Longitude,Depth,Mag,MagType,Type,magSource,Country,Afghanistan,Africa,...,Vanuatu,Venezuela,Washington,Xizang,Yemen,Zambia,Zealand,Zemlya,Zimbabwe,others
0,-6.5986,132.0763,38.615,6.1,mww,earthquake,us,Indonesia,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-15.0912,167.0294,36.029,5.6,mww,earthquake,us,Vanuatu,0,0,...,1,0,0,0,0,0,0,0,0,0
2,12.3238,123.8662,20.088,6.1,mww,earthquake,us,Philippines,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-40.5465,174.5709,74.320,5.7,mww,earthquake,us,Zealand,0,0,...,0,0,0,0,0,0,1,0,0,0
4,45.1126,23.1781,10.000,5.6,mww,earthquake,us,Romania,0,0,...,0,0,0,0,0,0,0,0,0,0
5,-29.5218,-177.9727,374.033,6.1,mww,earthquake,us,Zealand,0,0,...,0,0,0,0,0,0,1,0,0,0
6,-35.3341,-15.6399,10.000,5.6,mww,earthquake,us,region,0,0,...,0,0,0,0,0,0,0,0,0,0
8,-1.2376,67.5366,10.000,5.5,mww,earthquake,us,Ridge,0,0,...,0,0,0,0,0,0,0,0,0,0
9,-10.7636,161.6440,35.000,5.5,mww,earthquake,us,Islands,0,0,...,0,0,0,0,0,0,0,0,0,0
10,16.7536,-86.0733,10.000,5.5,mww,earthquake,us,Honduras,0,0,...,0,0,0,0,0,0,0,0,0,0

In [171]:
df5 = df4.drop('Country',axis='columns')
df5.head(2)

,Latitude,Longitude,Depth,Mag,MagType,Type,magSource,Afghanistan,Africa,Alaska,...,Vanuatu,Venezuela,Washington,Xizang,Yemen,Zambia,Zealand,Zemlya,Zimbabwe,others
0,-6.5986,132.0763,38.615,6.1,mww,earthquake,us,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-15.0912,167.0294,36.029,5.6,mww,earthquake,us,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [172]:
dumies_magSource = pd.get_dummies(df3_country_other.magSource)
dumies_type = pd.get_dummies(df3_country_other.Type)

df_final = pd.concat([df5,dumies_magSource,dumies_type],axis='columns')

df_final_1 = df_final.drop(columns=['Type','magSource'],axis='columns')
df_final_1.head(10)

,Latitude,Longitude,Depth,Mag,MagType,Afghanistan,Africa,Alaska,Albania,Algeria,...,us_pgc,uu,uw,vic,woo,wy,earthquake,explosion,nuclear explosion,volcanic eruption
0,-6.5986,132.0763,38.615,6.1,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,-15.0912,167.0294,36.029,5.6,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,12.3238,123.8662,20.088,6.1,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,-40.5465,174.5709,74.320,5.7,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,45.1126,23.1781,10.000,5.6,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,-29.5218,-177.9727,374.033,6.1,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,-35.3341,-15.6399,10.000,5.6,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,-1.2376,67.5366,10.000,5.5,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,-10.7636,161.6440,35.000,5.5,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,16.7536,-86.0733,10.000,5.5,mww,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [173]:
df_final_1['MagType'].value_counts()

mw       18500
mwc       5532
mww       4515
mb        3979
mwb       2432
ms        1754
ml         151
mwr         29
uk          15
fa          14
md          10
mh           8
mwp          3
lg           2
Ml           1
ms_20        1
Mi           1
mint         1
Name: MagType, dtype: int64

In [176]:
label_encode_column={'MagType'}
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
for i in label_encode_column:
    df_final_1[i]= label_encoder.fit_transform(df_final_1[i])
df_final_1

,Latitude,Longitude,Depth,Mag,MagType,Afghanistan,Africa,Alaska,Albania,Algeria,...,us_pgc,uu,uw,vic,woo,wy,earthquake,explosion,nuclear explosion,volcanic eruption
0,-6.5986,132.0763,38.615000,6.10,16,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,-15.0912,167.0294,36.029000,5.60,16,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,12.3238,123.8662,20.088000,6.10,16,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,-40.5465,174.5709,74.320000,5.70,16,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,45.1126,23.1781,10.000000,5.60,16,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37326,52.3800,-167.4500,58.583346,7.00,9,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37327,51.4500,-171.0200,58.583346,7.10,9,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37328,52.0000,-160.0000,58.583346,7.00,9,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
37329,36.0000,-120.5000,58.583346,6.40,9,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
37330,57.0900,-153.4800,58.583346,7.86,11,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [179]:
df_final_1['MagType'].describe()

count    36948.000000
mean        11.113782
std          3.048643
min          0.000000
25%         11.000000
50%         11.000000
75%         13.000000
max         17.000000
Name: MagType, dtype: float64

In [180]:
df_kahaan = df_final_1.copy()